@media (max-width: 1300px)small-desktop {
	/* events */
	.events-card:nth-child(1) .events-card__title {
		margin-bottom: 8px;
	}

	.events-card:nth-child(4) .events-card__title,
	.events-card:nth-child(5) .events-card__title {
		padding-right: 2px;
	}

	.events-card:nth-child(4) .events-card__paragraph,
	.events-card:nth-child(5) .events-card__paragraph {
		padding-right: 2px;
	}
}

@media (max-width: 1024px)tablet {
	/* projects */

	.partners-slider__slider {
		width: calc(818 / 924 * 100%);
	}

	.partners-slider__slide {
		height: 128px;
		padding: 27px 50px;
	}

}

@media (max-width: 768px)small-tablet {
	/* events */
	.events-card:nth-child(4) .events-card__paragraph, .events-card:nth-child(5) .events-card__paragraph {
		padding-right: 7px;
	}
}
