@media (max-width: 1630px) {
	.container {
		padding: 0 50px;
	}

	/* header-top */

	.header-top__logo {
		margin-right: auto;
	}

	.header-top__list {
		margin-right: 30px;
	}

	.header-top__item {
		margin-right: 30px;
	}

	.header-top__item:not(:last-child) {
		margin-right: 30px;
	}

	/* header-bottom */

	.styles__item:not(:last-child) {
		margin-right: 60px;
	}

	/* catalogue */

	.catalogue__list {
		width: 52%;
	}

	.catalogue__desk {
		margin-right: 1%;
	}

	.accordion__desc-btn {
		text-align: left;
	}

	.accordion__left {
		width: 209px;
		height: 147px;
	}

	/* projects */

	.projects__next {
		left: 96%;
	}

	/* contacts */

	.contacts__info {
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 43px 0;
	}

	.contacts__place {
		margin-left: 0;
		margin-right: auto;
	}

	.contacts__form {
		margin-bottom: 30px;
	}
}

@media (max-width: 1300px) {
	/* header-top */

	.header-top__logo {
		margin-right: auto;
	}

	.header-top__nav {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.header-top__nav.open-menu {
		display: block;
		left: 0;
		width: 100%;
		min-height: 768px;
		background-color: var(--color-black);
		opacity: 0.9;
	}

	.header-top__list {
		flex-direction: column;
		margin-left: 44px;
		margin-top: 96px;
		margin-bottom: 132px;
		padding: 0;
	}

	.header-top__item:not(:last-child) {
		margin-right: 0;
	}

	.header-top__item {
		font-weight: 600;
		font-size: 24px;
		line-height: 64px;
	}

	/* бургер */

	.header-top__burger {
		position: relative;
		margin-right: auto;
		margin-left: -19px;
		width: 36px;
		height: 28px;
		display: block;
		z-index: 13;
	}

	.header-top__burger span,
	.header-top__burger::after,
	.header-top__burger::before {
		position: absolute;
		height: 3.65px;
		width: 100%;
		background-color: var(--color-white);
		transition: 0.5s;
	}

	.header-top__burger::after,
	.header-top__burger::before {
		content: '';
	}

	.header-top__burger span {
		top: 13px;
		width: 29px;
	}

	.header-top__burger::before {
		top: 0;
	}

	.header-top__burger::after {
		top: 25px;
		width: 24px;
	}

	/* burger-effects */
	.header-top__burger.open-menu span {
		opacity: 0;
		transition: 0.5s;
	}

	.header-top__burger.open-menu::before {
		width: 37px;
		top: 14px;
		left: -5px;
		transform: rotate(-45deg) translateX(14px) translateY(14px);
		transition: 0.5s;
	}

	.header-top__burger.open-menu::after {
		width: 37px;
		top: 14px;
		left: -4px;
		transform: rotate(46deg) translateX(14px) translateY(-14px);
		transition: 0.5s;
	}

	.header-top__login {
		position: relative;
		display: inline-block;
		margin-left: 139px;
		text-align: center;
	}

	.header-top__login::after {
		content: '';
		position: absolute;
		top: -19px;
		left: -89px;
		width: 257px;
		height: 60px;
		border: 2px solid var(--color-purple);
		border-radius: 100px;
	}

	.header-top__search {
		display: inline-block;
		width: 30px;
		height: 30px;
	}

	.header-top__lens {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-image: url('../img/search.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		transition: opacity .3s ease-in-out;
	}

	.btn-hidden {
		display: none;
	}

	/* search */

	.header-top__form {
		position: absolute;
		top: 39%;
		right: 6%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		display: none;
	}

	@keyframes FormOpen {
		from {
			transform: translateX(100%);
		}

		to {
			transform: translateX(0);
		}
	}

	@keyframes FormClose {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(100%);
		}
	}

	.form-search__search {
		position: absolute;
		top: -3px;
		left: -39px;
		margin-right: 2%;
		width: 30px;
		height: 30px;
		background-image: url('../img/search.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
	}

	.form-search__input {
		margin-right: 5%;
		min-width: 230px;
		background-color: transparent;
		color: var(--color-white);
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
		outline: none;
	}

	.form-search__close {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.form-search__close::before,
	.form-search__close::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 2px;
		background-color: var(--color-white);

	}

	.form-search__close::before {
		transform: rotate(45deg) translateX(-5px) translateY(3px);
	}

	.form-search__close::after {
		transform: rotate(-45deg) translateX(-3px) translateY(-5px);
	}

	/* header-bottom */

	.header-bottom {
		display: none;
	}

	/* hero */

	.hero__info {
		padding-top: 23.2%;
	}

	/* about-us */
	.about__paragraph {
		width: 100%;
	}

	/* galery */

	.galery__filter {
		min-width: 30%;
	}

	.galery__pictures {
		max-width: 66%;
	}

	.galery__swiper-slide::after {
		width: 81%;
		height: 81%;
	}

	/* catalogue */

	.catalogue__paragraph {
		max-width: 100%;
	}

	.accordion__desc-list {
		columns: 2;
	}

	.accordion__desc {
		padding-bottom: 26px;
	}

	.accordion__right {
		max-width: 50%;
	}

	/* events */
	.events-card {
		width: calc((100% / 3) - 18px);
		min-height: 683px;
	}

	.events-card__img {
		margin-bottom: 47px;
		width: 100%;
	}

	.events-card__date-block {
		position: relative;
		padding: 0;
		margin: 0;
	}

	.events-card__place {
		position: absolute;
		top: -35px;
		right: 32px;
	}

	.events-card__date {
		position: absolute;
		top: -19px;
		right: 32px;
	}

	.events-card__link {
		bottom: 6.9%;
		left: 25px;
	}

	.events-card__title {
		margin-bottom: 6px;
		padding-left: 33px;
		padding-right: 15px;
	}

	.events-card__paragraph {
		padding-left: 33px;
		padding-right: 35px;
	}

	.events-card:nth-child(1) .events-card__title {
		margin-bottom: 8px;
	}

	.events-card:nth-child(4) .events-card__title,
	.events-card:nth-child(5) .events-card__title {
		padding-right: 2px;
	}

	.events-card:nth-child(4) .events-card__paragraph,
	.events-card:nth-child(5) .events-card__paragraph {
		padding-right: 2px;
	}

	/* projects */
	.projects__paragraph {
		max-width: 100%;
	}

	.partners-slider__slider {
		width: calc(818 / 924 * 100%);
	}

	.partners-slider__slide {
		height: 128px;
		padding: 14px 28px;
	}

}

@media (max-width: 1024px) {

	/* header-top */

	.header-top__logo {
		margin-right: 38%;
	}

	.form-search__search {
		margin-right: 0;
	}

	.form-search__input {
		margin-right: 0;
		min-width: 200px;
	}

	/* hero */

	.hero__info {
		max-width: 100%;
		padding-bottom: 112px;
	}

	.hero__title {
		margin-bottom: 10px;
		line-height: 83px;
	}

	.hero__paragraph {
		margin-bottom: 134px;
	}

	/* galery */

	.galery {
		padding-bottom: 104px;
	}

	.galery__filter {
		min-width: 30.4%;
	}

	.choices {
		margin-bottom: 114px;
	}

	.galery__pictures {
		max-width: 64.2%;
	}

	.galery__navigation {
		margin-left: 0;
	}

	/* catalogue */

	.catalogue__desk {
		margin-right: 4.7%;
		max-width: 48%;
	}

	.catalogue-desk__img {
		margin-bottom: 27px;
	}

	.catalogue__list {
		max-width: 50%;
	}

	.accordion__left {
		margin-right: 33px;
		width: 173px;
		height: 114px;
	}

	.accordion__left::after {
		top: -8px;
		left: -6px;
		width: 108%;
		height: 113%;
	}

	.accordion__undone {
		padding-left: 8px;
	}

	.accordion__title-icon {
		top: 30%;
	}

	/* events */

	.events {
		padding-top: 30px;
		padding-bottom: 27px;
	}

	.events__swiper {
		position: relative;
		padding-bottom: 54px;
	}

	.events-card {
		width: 40%;
	}

	.events__pagination {
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.events__btns {
		display: none;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: var(--color-dark-grey);
	}

	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin-left: 8px;
		margin-right: 8px;
	}

	/* projects */

	.partners-slider__slider {
		width: calc(818 / 924 * 100%);
	}

	.partners-slider__slide {
		height: 128px;
		padding: 27px 50px;
	}

	/* contacts */
	.contacts__info {
		padding-top: 46px;
		padding-bottom: 40px;
	}

	.contacts__place {
		margin-bottom: 31px;
	}

	.form__label {
		margin-bottom: 28px;
	}

	.contacts__form {
		margin-right: 0;
		margin-bottom: 0;
	}

	.form__btn {
		margin-bottom: 28px;
		min-width: 344px;
	}

	.contacts__connect {
		margin-bottom: 6px;
	}

	.contacts__item:not(:last-child) {
		margin-right: 21px;
		margin-left: 0;
	}

	/* footer */

	.footer__link {
		width: 60px;
		height: 60px;
	}

	.footer__item:not(:last-child) {
		margin-right: 30px;
	}
}

@media (min-width: 1024px) {

	.header-top__logo:focus:not(:hover) {
		outline: 2px solid var(--color-dark-purple);
		outline-offset: 3px;
	}

	.header-top__logo:hover::after {
		border: 2px solid var(--color-dark-purple);
	}

	.header-top__link:focus:not(:hover) {
		background-color: var(--color-dark-purple);
		color: var(--color-white);
	}

	.header-top__link:hover {
		color: var(--color-purple);
	}

	.header-top__login:focus:not(:hover) {
		color: var(--color-white);
		background-color: var(--color-dark-purple);
	}

	.header-top__login:hover {
		color: var(--color-light-purple);
		background-image: url('../img/login-light.svg');
	}

	.styles__item-btn:focus:not(:hover) {
		color: var(--color-white);
		background-color: var(--color-dark-purple);
	}

	.styles__item-btn:hover {
		color: var(--color-purple);
	}

	.styles__item-btn:hover::after {
		border-color: var(--color-purple);
	}

	.styles__dropdown-link:focus:not(:hover) {
		border-color: var(--color-purple)
	}

	.styles__dropdown-link:hover {
		border-color: var(--color-purple)
	}


	.search-form__btn:focus:not(:hover) {
		background-image: url('../img/search-purple.svg');
	}

	.search-form__btn:hover {
		background-image: url('../img/search-purple.svg');
	}

	.search-form__input:focus:not(:hover) {
		border-color: var(--color-light-purple);
	}

	.search-form__input:hover {
		border-color: var(--color-light-purple);
	}

	.hero__btn:focus:not(:hover) {
		outline: 2px solid var(--color-light-purple);
		outline-offset: 5px;
	}

	.hero__btn:hover {
		outline: 3px solid var(--color-light-purple);
	}

	.choices__inner:focus:not(:hover),
	.choices__inner:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.choices__list--dropdown .choices__item:focus:not(:hover),
	.choices__list--dropdown .choices__item:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.checkbox:focus:not(:hover):not(:checked)~.checkbox-content .visual-check,
	.checkbox:checked~.checkbox-content .visual-check {
		border-color: var(--color-purple);
	}

	.checkbox:focus:not(:hover):not(:checked)~.checkbox-content .check-text,
	.checkbox:checked~.checkbox-content .check-text {
		color: var(--color-purple);
	}

	.checkbox-wrap:hover+span {
		border-color: var(--color-light-purple);
	}

	.checkbox-wrap:hover {
		color: var(--color-light-purple);
	}

	.galery__btn:focus:not(:hover) {
		background-color: var(--color-dark-grey);
		border-color: var(--color-black);
	}

	.galery__btn:hover:not(.swiper-button-disabled) {
		background-color: var(--color-purple);
	}

	.galery__swiper-slide:focus:not(:hover)::before {
		opacity: 1;
	}

	.galery__swiper-slide:hover::after {
		opacity: 1;
	}

	.catalodue-desk__link:focus:not(:hover),
	.accordion__link:focus:not(:hover) {
		background-color: var(--color-purple);
		color: var(--color-white);
	}

	.catalodue-desk__link:hover::after,
	.accordion__link:hover::after {
		border-color: var(--color-purple);
	}

	.accordion__title:focus:not(:hover) .accordion__date {
		color: var(--color-white);
		background-color: var(--color-purple);
	}

	.accordion__title:focus:not(:hover) .accordion__title-icon {
		background-color: var(--color-lighter-purple);
	}

	.accordion__title:hover {
		border-color: var(--color-purple);
		z-index: 2;
		cursor: pointer;
	}

	.accordion__title:hover .accordion__date {
		color: var(--color-purple);
	}

	.accordion__title:hover .accordion__title-icon {
		background-color: var(--color-lighter-purple);
	}

	.accordion__desc-btn:focus:not(:hover):not(:hover) {
		background-color: var(--color-purple);
		color: var(--color-white);
	}

	.accordion__desc-btn:hover {
		color: var(--color-purple);
	}

	.accordion__desc-btn:hover::after {
		opacity: 1;
	}

	.events-card__link:focus:not(:hover) {
		background-color: var(--color-purple);
		color: var(--color-white);
	}

	.events-card__link:active {
		border-color: var(--color-white);
	}

	.events-card__link:hover {
		color: var(--color-dark-purple);
	}

	.events-card__link:hover::after {
		border-color: var(--color-dark-purple);
	}

	.events__btn:focus:not(:hover) {
		border-color: var(--color-purple);
	}

	.events__btn:hover {
		background-color: var(--color-lighter-purple);
	}

	.tooltip:focus:not(:hover) {
		background-image: url('../img/tooltip-focus.svg');
	}

	.tooltip:hover {
		background-image: url('../img/tooltip-hover.svg');
	}

	.tooltip--1:hover::before,
	.tooltip--1:hover::after {
		display: block;
	}

	.projects__link:focus:not(:hover) {
		background-color: var(--color-purple);
		color: var(--color-white);
	}

	.projects__link:hover {
		color: var(--color-purple);
	}

	.projects__link:hover::after {
		border-color: var(--color-purple);
	}

	.partners-slider__slide:focus:not(:hover) {
		border-color: var(--color-purple);
	}

	.partners-slider__slide:hover .partners-slider__img {
		filter: grayscale(0);
		opacity: 1;
	}

	.partners-btn:focus:not(:hover) {
		border-color: var(--color-purple);
	}

	.partners-btn:hover {
		background-color: var(--color-lighter-purple);
	}

	.form__input:focus:not(:hover) {
		background-color: #EAEAEA;
	}

	.form__input:hover {
		background-color: #EAEAEA;
	}

	.form__btn:focus:not(:hover)::after {
		opacity: 1;
	}

	.form__btn:hover {
		background-color: var(--color-purple);
		color: var(--color-white);
	}

	.contacts__link:focus:not(:hover),
	.contacts__link:hover {
		opacity: 0.5;
	}

	.footer__logo-link:focus:not(:hover),
	.footer__logo-link:hover {
		outline: 2px solid var(--color-purple);
		outline-offset: 5px;
		cursor: pointer;
	}

	.footer__link:focus:not(:hover) {
		opacity: 1;
	}

	.footer__link:hover {
		opacity: 1;
	}
}

@media (max-width: 768px) {

	/* header-top */

	.header-top__logo {
		margin-right: auto;
	}

	.header-top__form {
		top: 0;
		right: 0;
		justify-content: center;
		width: 100%;
		height: 100px;
		background-color: black;
		z-index: 14;
	}

	.form-search__search {
		top: 36%;
		left: 6.7%;
	}

	.form-search__input {
		position: absolute;
		top: 44%;
		left: 12%;
		min-width: 75%;
	}

	.form-search__close {
		position: absolute;
		top: 33%;
		right: 8%;
	}

	.form-search__close::before, .form-search__close::after {
		width: 36px;
		height: 4px;
	}


	/* hero */
	.hero__info {
		padding-top: 31.9%;
		padding-bottom: 114px;
	}

	.hero__paragraph {
		max-width: 100%;
	}

	/* galery */
	.galery {
		padding-bottom: 98px;
	}

	.galery__block {
		flex-direction: column;
	}

	.galery__filter {
		width: 42%;
	}

	.choices {
		margin-bottom: 47px;
	}

	.choices__list--dropdown .choices__list {
		background-color: var(--color-black);
	}

	.galery__checkbox {
		margin-bottom: 9px;
	}

	.galery__pictures {
		max-width: 100%;
	}

	.galery__prev {
		margin-right: 19px;
	}

	.galery__pagination {
		margin-right: 20px;
	}

	/* catalogue */
	.catalogue {
		padding-bottom: 38px;
	}

	.catalogue__paragraph {
		margin-bottom: 21px;
	}

	.catalogue__block {
		flex-direction: column-reverse;
	}

	.catalogue-desk__img {
		margin-bottom: 27px;
	}

	.catalogue-desk__date {
		margin-bottom: 6px;
		margin-left: 2px;
	}

	.catalogue__desk {
		margin-right: 0;
		max-width: 100%;
	}

	.catalogue-desk__paragraph {
		margin-left: 1px;
	}

	.catalogue__list {
		max-width: 100%;
		width: 100%;
	}

	.catalogue__list:last-child {
		margin-bottom: 50px;
	}

	.accordion__desc {
		padding-bottom: 0px;
	}

	.accordion__desc-list {
		padding-bottom: 58px;
		columns: 3;
	}

	.accordion__left {
		margin-left: 4px;
		margin-right: 36px;
		width: 251px;
		height: 165px;
	}

	.accordion__left::after {
		top: -10px;
		left: -10px;
	}

	.accordion__right {
		max-width: 54%;
	}

	/* events */
	.events {
		padding-top: 32px;
	}

	.events-card__img {
		margin-bottom: 45px;
	}

	.events-card__place {
		top: -35px;
		right: 20px;
	}

	.events-card__date {
		right: 20px;
	}

	.events-card__title {
		padding-left: 36px;
		padding-right: 21px;
	}

	.events-card:nth-child(1) .events-card__title {
		margin-bottom: 5px;
	}

	.events-card__paragraph {
		padding-left: 35px;
	}

	.events-card:nth-child(4) .events-card__paragraph, .events-card:nth-child(5) .events-card__paragraph {
		padding-right: 7px;
	}

	.events-card__link {
		bottom: 6.8%;
		left: 28px;
	}

	/* projects */

	.projects {
		padding-bottom: 79px;
	}

	.projects__paragraph {
		margin-bottom: 28px;
	}

	.projects__partners {
		margin-bottom: 29px;
	}

	.partners-slider__slider {
		width: calc(562 / 668 * 100%);
	}

	.partners-slider__slide {
		height: 106px;
		padding: 17px 24px;
	}

	/* contacts */
	.form {
		justify-content: space-between;
	}

	.form__input {
		margin-right: 0;
		width: 324px;
	}

	.form__label {
		margin-bottom: 13px;
	}

	.form__btn {
		min-width: 317px;
	}

}

@media (max-width: 650px) {
	.container {
		padding: 0 15px;
	}

	/* header */
	.header-top {
		max-height: 45px;
	}

	.header-top__container {
		min-height: 45px;
	}

	.header-top__burger {
		width: 25px;
		height: 18px;
	}

	.header-top__burger span,
	.header-top__burger::after,
	.header-top__burger::before {
		height: 2px;
	}

	.header-top__burger span {
		top: 9px;
		width: 16px;
	}

	.header-top__burger::after {
		top: 18px;
		width: 10px;
	}

	.header-top__burger.open-menu::before,
	.header-top__burger.open-menu::after {
		width: 15px;
	}

	.header-top__nav.open-menu {
		min-height: 600px;
	}

	.header-top__list {
		margin-left: 15px;
		margin-top: 46px;
		margin-bottom: 265px;
	}

	.header-top__item {
		font-size: 16px;
		line-height: 32px;
	}

	.header-top__login {
		margin-left: 47px;
		font-size: 12px;
		line-height: 16px;
	}

	.header-top__login::after {
		top: -12px;
		left: -28px;
		height: 40px;
		width: 115px;
	}

	.header-top__logo {
		margin-top: 0;
		height: 21px;
	}

	.header-top__img {
		height: 100%;
	}

	.header-top__search {
		width: 22px;
		height: 22px;
	}

	.header-top__form {
		height: 45px;
	}

	.header-top__form {
		top: -15%;
	}

	.form-search__input {
		left: 17%;
		min-width: 66%;
	}

	/* hero */

	.hero__info {
		padding-top: 20.9%;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero__title {
		margin-bottom: 16px;
		font-size: 47px;
		line-height: 60px;
		text-align: center;
	}

	.hero__paragraph {
		margin-bottom: 100px;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		text-align: center;
	}

	/* about */
	.about {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	/* galery */
	.galery {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.galery__filter {
		width: 100%;
	}

	.galery__swiper-wrapper {
		margin-left: 21%;
	}

	.galery__swiper-slide::before {
		width: 57%;
	}

	.galery__swiper-slide::after {
		width: 47%;
		height: 85%;
	}

	/* catalogue */
	.catalogue {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.accordion__desc-list {
		padding-bottom: 20px;
		columns: 2;
	}

	.accordion__left {
		width: 160px;
	}

	.accordion__left::after {
		width: 113%;
	}

	/* events */
	.events {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	/* projects */
	.projects {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.partners-slider__slide {
		height: 65px;
	}

	/* contacts */
	.contacts {
		padding-top: 25px;
	}

	.ymaps-2-1-79-controls-pane {
		display: none;
	}

	/* footer */
	.footer__container {
		flex-direction: column-reverse;
		align-items: center;
	}

	.footer__logo-link {
		margin-right: 0;
	}

	.footer__list {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (min-width: 320px) and (max-width: 440px) {
	.title {
		margin-bottom: 12px;
		font-size: 28px;
		line-height: 38px;
	}

	.paragraph {
		font-size: 14px;
		line-height: 28px;
	}

	.header-top__burger {
		margin-top: -1px;
		margin-left: -13px;
	}

	.header-top__burger span {
		top: 8px;
	}

	.header-top__burger::after {
		top: 16px;
	}



	.header-top__logo {
		height: 22px;
	}

	.header-top__lens {
		width: 18px;
		height: 18px;
	}

	/* search */

	.header-top__form {
		top: 3%;
		height: 75px;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.form-search__search {
		top: 50%;
		left: 17.7%;
		width: 18px;
		height: 19px;
	}

	.form-search__input {
		left: 24%;
		min-width: 50%;
	}

	.form-search__close {
		top: 9%;
		right: 3%;
	}

	.form-search__close::before,
	.form-search__close::after {
		width: 19px;
		height: 2px;
	}

	/* hero */
	.hero__info {
		padding-top: 26.9%;
		padding-bottom: 44px;
	}

	.hero__title {
		margin-bottom: 11px;
		font-size: 32px;
		line-height: 38px;
	}

	.hero__paragraph {
		margin-bottom: 40px;
		max-width: 90%;
		font-size: 12px;
		line-height: 16px;
	}

	.hero__btn {
		padding: 13px 19px;
		font-size: 12px;
		line-height: 16px;
	}

	/* about */
	.about {
		padding-bottom: 41px;
	}

	/* galery */
	.galery {
		padding-bottom: 18px;
	}

	.galery__text {
		margin-bottom: 5px;
	}

	.choices {
		margin-bottom: 38px;
	}

	.galery__checkbox {
		margin-bottom: 1px;
	}

	.galery__swiper {
		padding-bottom: 105px;
	}

	.galery__checkbox {
		margin-bottom: 1px;
	}

	.galery__swiper-slide {
		max-height: 367px;
	}

	.galery__swiper-wrapper {
		margin-left: 0;
	}

	.galery__navigation {
		position: absolute;
		bottom: 26px;
		left: 28%;
		z-index: 20;
	}

	.galery__swiper-slide::before {
		width: 100%;
	}

	.galery__swiper-slide::after {
		width: 85%;
	}

	/* catalogue */
	.catalogue {
		padding-top: 50px;
	}

	.catalogue__title {
		margin-bottom: 13px;
	}

	.catalogue__paragraph {
		display: none;
	}

	.accordion__title {
		margin-bottom: 0;
		padding-top: 13px;
		padding-bottom: 20px;
	}

	.accordion__date {
		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
	}

	.accordion__title-icon {
		width: 30px;
		height: 30px;
	}

	.accordion__title-icon::after {
		top: 36%;
		left: 38%;
		width: 7px;
		height: 7px;
	}

	.accordion__desc {
		padding-top: 20px;
	}

	.accordion__desc-list {
		padding-bottom: 21px;
		columns: 1;
	}

	.accordion__left {
		width: 79px;
		height: 118px;
	}

	.accordion__left::after {
		width: 128%;
		height: 118%
	}

	.accordion__right {
		max-width: 60%;
	}

	.accordion__heading {
		font-size: 18px;
		line-height: 32px;
	}

	.accordion__text {
		font-size: 16px;
		line-height: 22px;
	}

	/* catalogue */
	.catalogue-desk__img {
		margin-bottom: 17px;
	}

	.catalogue-desk__title {
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 33px;
	}

	.catalogue-desk__date {
		margin-left: 0;
	}

	.catalogue-desk__paragraph {
		margin-left: 0;
		font-size: 16px;
		line-height: 32px;
	}

	/* events */

	.events {
		padding-bottom: 0;
	}

	.events-card__img {
		margin-bottom: 57px;
	}

	.events-card__place {
		top: -41px;
		right: 16px;
	}

	.events-card__date {
		top: -25px;
		right: 16px;
	}

	.events-card__title {
		padding-left: 22px;
		font-size: 24px;
		line-height: 33px;
	}

	.events-card__paragraph {
		padding-left: 22px;
		font-size: 16px;
		line-height: 32px;
	}

	.events-card__link {
		left: 20px;
	}

	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 20px;
	}

	/* projects */

	.projects {
		padding-top: 27px;
	}

	.projects__paragraph {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 32px;
	}

	.projects__partners {
		margin-bottom: 11px;
		font-size: 18px;
		line-height: 32px;
	}

	.partners-slider__slider {
		width: 195px;
	}

	/* contacts */
	.contacts {
		padding-top: 28px;
	}

	.contacts__info {
		padding-top: 0;
		padding-bottom: 16px;
	}

	.contacts__place {
		margin-bottom: 16px;
	}

	.contacts__heading {
		font-size: 18px;
		line-height: 25px;
	}

	.contacts__address {
		margin-top: -2px;
		font-size: 14px;
		line-height: 19px;
	}

	.form__label {
		margin-bottom: 20px;
	}

	.form__input {
		width: 290px;
		height: 40px;
	}

	.form__btn {
		margin-bottom: 18px;
		min-width: 128px;
		min-height: 41px;
		font-size: 12px;
		line-height: 16px;
	}

	.form__btn-desktop {
		display: none;
	}

	.form__btn-mobile {
		display: inline-block;
	}

	.contacts__connect {
		margin-bottom: 7px;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
	}

	.contacts__link {
		width: 50px;
		height: 50px;
		background-size: 100%;
	}

	.contacts__map {
		height: 320px;
	}

	/* footer */
	.footer__list {
		margin-top: -3px;
		margin-bottom: 16px;
	}

	.footer__link {
		width: 49px;
		height: 49px;
	}

	.footer__logo-link {
		width: 96px;
	}

	.footer__img {
		margin-top: 0;
	}

}