*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFFFF;

}

/* global */

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1630px;
  min-width: 320px;

  @include big-desktop {
    padding: 0 50px;
  }

  @include big-mobile {
    padding: 0 15px;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

.section {
  padding: 80px 0;
  @include tablet {
    padding: 50px 0;
  }
  @include big-mobile {
    padding: 30px 0;
  }

  &-paragraph {
    width: 68%;
  
    @include small-desktop {
      width: 100%;
    }
  
    @include mobile {
      font-size: 16px;
      line-height: 32px;
    }
  }
}

.title {
  margin: 0 0 16px;
  padding: 0;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: var(--color-dark);

  @include mobile {
    margin-bottom: 12px;
		font-size: 28px;
		line-height: 38px;
  }
}

.paragraph {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);

  @include mobile {
		font-size: 14px;
		line-height: 28px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 7;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}