:root {
  --color-purple: #9D5CD0;
  --color-dark-purple: #7943A4;
  --color-lighter-purple: #D1A9F0;
  --color-light-purple: #C283F3;
  --color-white: #FFFFFF;
  --color-dark: #333333;
  --color-dark-grey: #666666;
  --color-grey: #999999;
  --color-light-grey: #ECECEC;
  --color-black: #000000;
}